.categories-tree {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    border: solid 10px #d4d4d4;
    border-radius: 3px ;
    padding-top: 1px;
    width: 330px;
}

.active-category{
    background: rgb(237, 237, 237);;
}